body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    border: none;
    color: #434343;
}

.center{
    text-align: center;
}

section{
    min-height: 754px;
    position: relative;
    border-bottom: 1px solid #FFFFF0;
}

h1{
    position: absolute;
    top: 10%;
    left: 40%;
    color: #FFFFF0;
    letter-spacing: 3px;
    padding: 20px;
    font-size: 35px;
}

#home{
    height: 100vh;
    border-bottom: 1px solid #FFFFF0;
    background: rgb(18, 134, 138);

}

#excel{
    height: 100vh;
    border-bottom: 1px solid #FFFFF0;
    background: #147745;

}

#sponsors{
    height: 100vh;
    border-bottom: 1px solid #FFFFF0;
    background: rgb(177, 36, 50);

}

#experience{
    height: 100vh;
    border-bottom: 1px solid #FFFFF0;
    background: #114477;

}

#contacts{
    height: 100vh;
    border-bottom: 1px solid #FFFFF0;
    background: #147745;

}

#gallery{
    height: 100vh;
    border-bottom: 1px solid #FFFFF0;
    background: #794912;

}

.disable-click{
    color: #DA4453;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
  }
  .disable-click:before,
  .disable-click:after{
    position: absolute;
    content: '';
    height: 1px;
    width: 14px;
    bottom: 49%;
    background-color: #DA4453;
  }
  .disable-click:before{
    left: -12px;
  }
  .disable-click:after{
    right: -12px;
  }

  footer{
      text-align: center;
      width: 100%;
      line-height: 60px;
      background: #FFFFF0;
  }

  footer li{
      display: inline-block;
      margin-left: 10px;

  }

  footer i{
      height: 30px;
      width: 40px;
      font-size: 25px;
      color: #FFFFF0;
      background-color: #434343;
      padding-top:8px;
  }

/* New Code goes here */

.Navbar-Items {
  display: flex;
}

.Navbar-Items--Right {
  padding-right: 30px;
  margin-left: auto;
}

.Navbar-Link--Toggle {
  display: none;
}

.Navbar-Title {
  float: left;
  margin: 5px 0px 0px 10px;
  font-size: 20px;
}

.Navbar{
    display: flex;
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 5px;
    z-index: 1;
    background-color: #FFFFF0;
    box-shadow: 0 1px 3px #434343;
    -webkit-box-shadow: 0 1px 3px #434343;
    transition: top .5s;
    -webkit-transition: top .5s;
    -moz-transition: top .5s;
    -o-transition: top .5s;
  }

  .Navbar.active{
    top: 0%;
  }

  .Navbar-Link {
    margin: 0px 10px 0px 10px;
  }

  .Navbar-Link a{
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 24px 5px;
    line-height: 48px;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }

  .Navbar-Link a:hover{
    color: #DA4453;
  }

@media only screen and (max-width: 786px) {
  .Navbar, .Navbar-Items{
    flex-direction: column;
  }
  .Navbar-Items {
    display: none;
  }
  .Navbar-Link {
    padding-top: 10px;
  }
  .Navbar-Items--Right  {
    margin-left: 0;
  }
  .Navbar-Link--Toggle {
    align-self: flex-end;
    padding-right: 35px;
    font-size: 30px;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
  .Navbar-Link--toggleShow {
    display: flex;
  }
}
